<!doctype html>
<html lang="en">
  <head>
    <title>Facemask-Net</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js' integrity='sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==' crossorigin='anonymous'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <% function renderWithoutMask(image) { 
        const WITHOUT_MASK = "./without_mask/";
        
        return [WITHOUT_MASK, image].join((image.includes("simple")) ? "simple/" : "complex/")
    } %>
    <% function renderWithMask(image) { 
        const WITHOUT_MASK = "./with_mask/";
        
        return [WITHOUT_MASK, image].join((image.includes("simple")) ? "simple/" : "complex/")
    } %>
    <% const imagesWithMaskUrls = with_mask; const imagesWithoutMaskUrls = without_mask; %>
    
    <div class="container">
        <h2>Without mask</h2>
        <div id="without_mask">
            <% for(let i = 0; i < numberOfRenderedImages; i++) { %>
                <img class="without_mask" src="<%= renderWithoutMask(without_mask[i]) %>" width="128px" height="128px">
            <% } %>      
            </div>
                <h2>With mask</h2>
                <div id="with_mask">
                    <% for(let i = 0; i < numberOfRenderedImages; i++) { %>
                        <img class="with_mask" src="<%= renderWithMask(with_mask[i]) %>" width="128px" height="128px">
                    <% } %>
                    </div>
                        
                    </div>
                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    <script src="src/model.js"></script>
                </body>
</html>